<form action="" class="w-75 m-auto">
    <input class="form-control my-3" type="text" placeholder="Email">
    <input class="form-control my-3" type="text" placeholder="Password">
    <button class="btn btn-dark">Sign in</button>
</form>

